

// Start code here 



// --- btn ---

.btn {
	display: inline-block;
	padding: 10px 25px 8px 25px;
	line-height: 1.7;
	text-align: center;
	border-radius: 1px;
	font-size: em(12px);
	text-transform: uppercase;
	font-weight: $font-weight--semi-bold;
	letter-spacing: .4px;
	box-shadow: 0px 1px 2px rgba(0,0,0,.12);
	transition: transform .5s, color .3s, background-color .3s;
	
	&:active { 
		transform: scale(.95); }

	@media only screen and (min-width: 1200px) {
		transition: transform .5s, color .5s, background-color .5s; }}

.loaded .btn--header {
	background-color: #fff;
	color: $first; }

.offpage-active .btn--header {
	color: #fff;
	background-color: $first; }

.headroom--not-top .btn--header {
	color: #fff;
	background-color: $first; }



// --- mobile menu button ---

.bmenu { 
	width: 24px; 
	height: 16px;
	cursor: default;
	z-index: 450; }

.bmenu__right {
	top: 23px;
	right: 30px; }

.btop, .bmid, .bbot {
	width: 100%;
	height: 1px;
	right: 0;
	position: absolute;
	background-color: #333;
	border-radius: 1px; }

.btop {
	transform: scaleX(.9); }

.bbot {
	transform: scaleX(.8); }

.loaded .btop, .loaded .bmid, .loaded .bbot {
	background-color: #fff; }

.offpage-active .btop, .offpage-active .bmid, .offpage-active .bbot {
	background-color: #000; }

.headroom--not-top .btop, .headroom--not-top .bmid, .headroom--not-top .bbot {
	background-color: #000; } 

.x1 {
	& .btop {
		top: 0;
		transform-origin: 100% 100%;
		transition: transform .3s, top .3s, transform-origin .3s, background-color .3s;
		transition-timing-function: ease-out; }

	& .bmid {
		top: calc(50% - .5px);
		transition: background-color .3s;
		transition-timing-function: ease-out; }

	& .bbot {
		bottom: 0;
		transform-origin: 100% -100%;
		transition: transform .3s, bottom .3s, transform-origin .3s, background-color .3s;
		transition-timing-function: ease-out; }
	
	&.is-clicked {
		& .btop {
			top: 50%;
			transform: translateY(-50%) rotate(-45deg) scaleX(1);
			transform-origin: 50% 50%; }
		& .bmid {
			transition: background-color .1s;
			background-color: rgba(0,0,0,0); }
		& .bbot {
			bottom: 50%;
			transform: translateY(50%) rotate(45deg) scaleX(1);
			transform-origin: 50% 50%; }}}